
<ion-header class="_header">

    
    <ion-toolbar class="_toolbar">
  
        <ion-buttons slot="start" >
  
            <ion-icon class="rt-arw"  name="arrow-round-back"></ion-icon>
          </ion-buttons>
  
      <ion-title class="__title">
        Sell
      </ion-title>
  
      <ion-buttons slot="end">
  
          <ion-icon class="nt-ring" name="notifications-outline"></ion-icon>
             
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  
  
  <ion-content class="_content">
  <div class="psell-sec">
  

        <ion-grid>
          <ion-row class="time-sec">

            <ion-col class="srt-time" size="5" size-sm>
              <form [formGroup]="sellRateSetForm">
                  <label>START TIME</label><br>
                  <input class="time" type="time" name="usr_time"><span>AM</span>
                  <ion-item class="_DateTimePicker" color="primary">
                      <ion-datetime placeholder="THU, 11 JUN" formControlName="startTime" displayFormat="YYYY-MM-DDTHH:mm"></ion-datetime>
                    </ion-item>
              </form>
            </ion-col>

            <ion-col size="2" class="trans-icn" size-sm align-self-center>
                <ion-icon class="circle-icn2" name="arrow-dropleft-circle"></ion-icon>
                <ion-icon name="arrow-round-forward" class="vv-icn"></ion-icon>
            </ion-col>

            <ion-col class="srt-time" size="5" size-sm>
                <form [formGroup]="sellRateSetForm">
                    <label>END TIME</label><br>
                    <input class="time" type="time" name="usr_time"><span>AM</span>
                    <ion-item class="_DateTimePicker" color="primary">
                        <ion-datetime placeholder="THU, 11 JUN" formControlName="endTime" displayFormat="YYYY-MM-DDTHH:mm"></ion-datetime>
                      </ion-item>
                </form>
            </ion-col>

          </ion-row>
        </ion-grid>

  <form [formGroup]="sellRateSetForm">
    <div class="_Div">
      <p>01:30 <span style="font-size:12px;font-weight:400;">Hrs</span></p>
      <p class="sr-dur">DURATION</p>
      <hr>

      <ion-grid>
        <ion-row class="unit-sec">
          <ion-col size="6"><ion-label class="_Label">UNITS TO POST</ion-label></ion-col>
            <ion-col size="1"><span style="color:#fff;">:</span></ion-col>
            <ion-col size="5">
              <ion-item class="_Input">
              <ion-input placeholder="00" formControlName="power"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="unit-sec">
            <ion-col size="6"><ion-label class="_Label">SET RATE PER UNIT</ion-label></ion-col>
              <ion-col size="1"><span style="color:#fff;">:</span></ion-col>
              <ion-col size="5">
                <div class="_Input_Sell">
                    <p class="Rupp_S" slot="start">₹</p>
                <ion-input placeholder="00" formControlName="power" style="margin-left: 10px;"></ion-input>
                </div>
            </ion-col>
          </ion-row>

          <ion-row class="unit-sec">
              <ion-col size="6"><ion-label class="_Label">TOTAL AMOUNT</ion-label></ion-col>
                <ion-col size="1"><span style="color:#fff;">:</span></ion-col>
                <ion-col size="5">
                    <div class="_InputAmt" >
                      <p class="Rupp_">₹</p>
                     
                        <input formControlName="totalAmount" class="_TotalAmount">{{totalAmount}}
                    </div>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="sl-btn" size-sm>
                  <ion-button shape="round" expand="full" (click)="submit()">SUBMIT</ion-button>
                </ion-col>
                
              </ion-row>
      </ion-grid>

     <!-- <ion-row>
        <ion-col>
          <ion-button type="submit" class="_Button" (click)="submit()">SUBMIT</ion-button>
        </ion-col>
      </ion-row> -->
      
    </div>
  </form>
  </div>
</ion-content>