<ion-content>
    <div style="height:20%;"></div>
  
    <ion-grid style="position:relative;z-index:2;padding-top:10%;">
        <ion-row>
          <ion-col class="ion-text-center">
            <div>
              <ion-icon style="zoom:7;margin-top:7px;opacity:0.4;" color="primary" name="desktop"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center title-text">
            <strong>
              Something went wrong
            </strong>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset="1" size="10" class="ion-text-center sub-text">
                We are having trouble displaying your information
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
              <ion-col>
                <ion-button shape="round" color="primary" style="width:50%;font-family:MMedium !important;height:40px;">
                  TRY AGAIN
                </ion-button>
              </ion-col>
            </ion-row>
      </ion-grid>
  
  </ion-content>