.menu-button{
    color:var(--ion-color-primary) !important;
    text-align: left;
  }
  
  .title-top{
    color:var(--ion-color-primary) !important;
    text-align:center;
    font-size:1.4em;
    font-family:MSemiBold !important;
  }

  .title-text{
    font-family: MMedium !important;
    color:var(--ion-color-primary) !important;
    text-align:center;
  }

  .sub-text{
    font-family:MMedium !important;
    color:var(--ion-color-primary) !important;
    text-align:center;
    font-size:0.7em;
  }