<ion-header no-border class="header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title">
      DR Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon src="assets/svg/notifications.svg" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" (click)="searchEvents()">
    <ion-searchbar placeholder="Search for events" show-cancel-button="focus" [(ngModel)]="seacrhString">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Header -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="total-earning rounded px-2 pb-2 d-flex justify-content-between">
          <div>
            <div class="d-flex align-items-center">₹ <span class="earning pl-2">
                {{(totalEarnings - totalPenalty).toFixed(2)}}</span>
            </div>
            <div class="text-center description">Total Earnings ({{completedEvents?.length + penaltyEvents?.length}}
              events)</div>
          </div>
          <div class="d-flex align-items-end">
            <ion-icon src="assets/svg/forecast-data.svg" style="font-size: 50px;color: white;"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- completed -->
  <ion-grid *ngIf="completedEvents?.length > 0">
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Completed DR Events ({{completedEvents?.length}})&nbsp;<ion-icon name="information-circle-outline">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let event of completedEvents">
      <ion-col size="12" class="p-0 pt-2 d-flex align-items-center justify-content-between">
        <div>
          <div class="event-name">{{event?.eventName}}</div>
          <div class="event-date">{{formatTime(event?.eventStartTime)}}</div>
        </div>
        <div class="status-chip successful" *ngIf="event?.eventCustomerMappingStatus == '15'">COMPLETED</div>
        <div class="status-chip pending-validation" *ngIf="event?.eventCustomerMappingStatus == '8'">PENDING VALIDATION
        </div>
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/energy.svg"></ion-icon>&nbsp;{{event?.committedPower}} KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/rupee.svg"></ion-icon>&nbsp;₹ {{event?.bidprice}} PAISE/KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>
            &nbsp;{{getStartEnd(event?.eventStartTime,event?.eventEndTime)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="d-flex align-items-center justify-content-center">
        <div>{{event?.committedPower}} KW</div>
        <div class="ml-2 pl-2 border-left">₹ {{(event?.earnings/100).toFixed(2)}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- cancelled events -->
  <ion-grid *ngIf="cancelledEvents?.length > 0">
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Cancelled DR Events ({{cancelledEvents?.length}})&nbsp;<ion-icon name="information-circle-outline">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let event of cancelledEvents">
      <ion-col size="12" class="p-0 pt-2 d-flex align-items-center justify-content-between">
        <div>
          <div class="event-name">{{event?.eventName}}</div>
          <div class="event-date">{{formatTime(event?.eventStartTime)}}</div>
        </div>
        <div class="status-chip cancelled">CANCELLED</div>
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/energy.svg"></ion-icon>&nbsp;{{event?.committedPower}} KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/rupee.svg"></ion-icon>&nbsp;₹ {{event?.bidprice}} PAISE/KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>
            &nbsp;{{getStartEnd(event?.eventStartTime,event?.eventEndTime)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="d-flex align-items-center justify-content-center">
        <div>{{event?.committedPower}} KW</div>
        <div class="ml-2 pl-2 border-left">₹ {{(event?.earnings/100).toFixed(2)}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- penalty events -->
  <ion-grid *ngIf="penaltyEvents?.length > 0">
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Penalty DR Events ({{penaltyEvents?.length}})&nbsp;<ion-icon name="information-circle-outline">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let event of penaltyEvents">
      <ion-col size="12" class="p-0 pt-2 d-flex align-items-center justify-content-between">
        <div>
          <div class="event-name">{{event?.eventName}}</div>
          <div class="event-date">{{formatTime(event?.eventStartTime)}}</div>
        </div>
        <div class="status-chip penalty">PENALTY</div>
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{event?.committedPower}} KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/rupee.svg"></ion-icon>&nbsp;₹ {{event?.bidprice}} PAISE/KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>
            &nbsp;{{getStartEnd(event?.eventStartTime,event?.eventEndTime)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="d-flex align-items-center justify-content-center">
        <div>{{event?.actualPower}} KW</div>
        <del class="ml-2 pl-2 border-left text-secondary">₹ {{(event?.earnings/100).toFixed(2)}}</del>
        <div class="ml-2 pl-2 border-left">₹ {{((event?.earnings - event?.customerFine)/100).toFixed(2)}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Failed events -->
  <ion-grid *ngIf="failedEvents?.length > 0">
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Failed DR Events ({{failedEvents?.length}})&nbsp;<ion-icon name="information-circle-outline">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let event of failedEvents">
      <ion-col size="12" class="p-0 pt-2 d-flex align-items-center justify-content-between">
        <div>
          <div class="event-name">{{event?.eventName}}</div>
          <div class="event-date">{{formatTime(event?.eventStartTime)}}</div>
        </div>
        <div class="status-chip offline">OFFLINE</div>
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{event?.committedPower}} KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/rupee.svg"></ion-icon>&nbsp;₹ {{event?.bidprice}} PAISE/KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>
            &nbsp;{{getStartEnd(event?.eventStartTime,event?.eventEndTime)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="d-flex align-items-center justify-content-center">
        <div>{{event?.actualPower}} KW</div>
        <div class="ml-2 pl-2 border-left">₹ {{((event?.earnings - event?.customerFine)/100).toFixed(2)}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="the-footer">
  <ion-grid class="ion-text-center" style="padding:0;opacity:0.5;">
    <ion-row>
      <ion-col class="bottom-footer" (click)="applyPeriodFilter()">
        <ion-icon class="icon" name="time"></ion-icon>
        EVENTS
      </ion-col>
      <ion-col class="bottom-footer" (click)="applyEnergyFilter()">
        <ion-icon class="icon" name="calendar"></ion-icon>
        PERIOD
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>