ion-content{
    --background:#0048A8;
  
  }
  
  .menu-button{
    color:white;
    text-align: left;
  }
  
  .title-top{
    color:white;
    text-align:center;
    font-size:1.4em;
    font-family:MSemiBold !important;
  }

  .title-text{
    font-family: MMedium !important;
    color:white;
    text-align:center;
  }

  .sub-text{
    font-family:MMedium !important;
    color:white;
    text-align:center;
    font-size:0.7em;
  }

  .the-footer{
  background-color:#0048A8;
  color:white;
  padding:0;
  margin-top:-10px;
}