<ion-header>
  <ion-toolbar>
    <ion-title>alertTest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-button (click)="endDateModal()">
      END DATE MODAL
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="invalidInputModal()">
      INVALID INPUT MODAL
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="error404Modal()">
      ERROR 404 MODAL
    </ion-button>
  </ion-item>
  <ion-item>
      <ion-button (click)="noneTradeModal()">
        None Trade Hours Page
      </ion-button>
    </ion-item>

</ion-content>