ion-content {
    --ion-font-family: MMedium;
}

.btn-close {
    width: 20px;
    height: 20px;
    color: gray;
    padding-top: 5px;
    padding-right: 5px;
}

.header-icon {
    font-size: 50px;
    color: #b00000;
}

.header {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.description {
    font-size: 11px;
    text-align: center;
    color: gray;
    padding: 8px 30px;
}

.btn-modal {
    width: 115px;
    font-size: 12px;
}