<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center header">
      NOTIFICATIONS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button disabled>
        <ion-icon slot="icon-only" name="home" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="notification-grid">

    <ion-row>
      <ion-col class="datetime-divider">Today</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="notification">
        <div class="title">
          Successful transaction of $355 for 100 unit power
        </div>
        <div class="description">
          <div class="icon ">
            <ion-icon src="assets/svg/forecast-data.svg" class="blue"></ion-icon>
          </div>
          <div>
            Successful transaction of $355 for 100 unit power
            Successful transaction of $355 for 100 unit power
          </div>
        </div>
        <div class="btn-view">
          View Events
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="notification">
        <div class="clouser">
          <div class="details">
            <div class="title">
              Successful transaction of $355 
            </div>
            <div class="description">
              Successful transaction of $355 for 100 unit power
            </div>
          </div>
          <div class="timer">
            <div> Get Clousure in </div>
            <div class="time">30 min</div>
          </div>
        </div>
        <div class="btn-view">
          View Events
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="datetime-divider">Yesterday</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="notification">
        <div class="title">
          Successful transaction of $355 for 100 unit power
        </div>
        <div class="description">
          Successful transaction of $355 for 100 unit power
          Successful transaction of $355 for 100 unit power
          Successful transaction of $355 for 100 unit power
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="notification">
        <div class="title">
          Successful transaction of $355 for 100 unit power
        </div>
        <div class="description">
          <div class="icon red">
            <ion-icon mode="ios" name="close-circle"></ion-icon>
          </div>
          <div>
            Successful transaction of $355 for 100 unit power
            Successful transaction of $355 for 100 unit power
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="notification">
        <div class="title">
          Successful transaction of $355 for 100 unit power
        </div>
        <div class="description">
          <div class="icon green">
            <ion-icon mode="ios" name="checkmark-circle"></ion-icon>
          </div>
          <div>
            Successful transaction of $355 for 100 unit power
            Successful transaction of $355 for 100 unit power
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>