<ion-content>
  <ion-row class="row-control">
    <ion-col class="menu-button" size="2" style="margin-top:14px;">
      <div>
        <ion-back-button defaultHref="dashboard"></ion-back-button>
      </div>
    </ion-col>
    <ion-col class="title-top" size="8">
      <div>TOTAL BUY LEADS</div>
    </ion-col>
    <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:20px;">
      <ion-icon src="assets/svg/notifications.svg"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-searchbar style="font-family:MMedium !important;" placeholder="Search for ID" animated [(ngModel)]="selectedLead"
    (ionChange)="selectLead()"></ion-searchbar>

  <ion-grid>

    <!-- LINE 1 -->
    <ion-row class="row-control" (click)="selectBuyLead(buyLead)" *ngFor="let buyLead of displayLeads">
      <ion-card class="card-center">
        <ion-card-content>
          <ion-row style="margin-top:-0.5em;">
            <ion-col size="2" class="prediction">
              <ion-icon style="zoom:3;" src="assets/assets2/sell.svg"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-row style="margin-bottom:0.7em;">
                <ion-col>
                  <div class="card-unit-number">
                    {{buyLead.sellorder.energy}} Units
                  </div>
                  <div class="card-id-number">
                    ID #{{buyLead.contractId}}
                  </div>
                </ion-col>
                <ion-col class="card-right">
                  <ion-icon name="pin" class="icon"></ion-icon> {{buyLead.sellorder.localityName}} <br>
                  <span class="d-flex align-items-center justify-content-end order-state text-red ">
                    <ion-icon name="radio-button-on" class="pr-1"></ion-icon>LIVE
                  </span> <br>
                  <span class="d-flex align-items-center justify-content-end order-state text-orange">
                    GATE CLOSED
                  </span>
                </ion-col>
              </ion-row>
              <ion-row class="card-bottom-line">
                <ion-col size="3">
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/solar (1).svg"
                    *ngIf="buyLead.sellorder.deviceTypeName=='Solar'"></ion-icon>
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/solar (1).svg"
                    *ngIf="buyLead.sellorder.deviceTypeName=='Generator'"></ion-icon>
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/solar (1).svg"
                    *ngIf="buyLead.sellorder.deviceTypeName=='EV'"></ion-icon>
                  {{buyLead.sellorder.deviceTypeName}}
                </ion-col>
                <ion-col size="3">
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/calendar.svg"></ion-icon>
                  {{formatTime(buyLead.sellorder.transferStartTs,'d')}}
                </ion-col>
                <ion-col size="6">
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/timer.svg"></ion-icon>
                  {{formatTime(buyLead.sellorder.transferStartTs,'t')}} -
                  {{formatTime(buyLead.sellorder.transferEndTs,'t')}}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer class="the-footer">
  <ion-grid class="ion-text-center" style="padding:0;">
    <ion-row>
      <ion-col class="bottom-footer" (click)="filterByLocation()">
        <!-- <ion-button expand="full"> -->
        <ion-icon name="pin" class="icon"></ion-icon>
        LOCATION
        <!-- </ion-button> -->
      </ion-col>
      <ion-col class="bottom-footer" (click)="filterByMonth()">
        <!-- <ion-button expand="full"> -->
        <ion-icon name="calendar" class="icon"></ion-icon>
        MONTH
        <!-- </ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>