ion-content {
    --ion-font-family: MMedium;
}

.header {
    font-family: MMedium;
    font-size: 14px;

    .title {
        font-family: MMedium;
        font-size: 16px;
        text-transform: capitalize;
    }

    .icon {
        font-size: 1.5em;
    }

    .description {
        font-size: 10px;
        background-color: var(--ion-color-primary);
        color: white;
    }
}

.event-list-item {
    background-color: white;
    box-shadow: 0px 2px 5px #00000055;

    .event-date {
        font-size: 16px;
    }

    .status {
        font-size: 10px;
        padding: 3px 10px;
        border-radius: 1em;
        color: white;
        height: 20px;

        &.sceduled {
            background-color: var(--ion-color-primary);
        }

        &.counter-bid {
            background-color: #8e5c31;
        }
    }

    .event-detail {
        font-size: 10px;
        line-height: 0;
    }

    .event-chip {
        background-color: white;
        color: var(--ion-color-primary);
        opacity: 0.5;

        &.active {
            background-color: var(--ion-color-primary);
            color: white;
        }
        &.inactive {
            background-color: var(--ion-color-primary);
            color: white;
            opacity: 0.5;
        }
    }

    .event-rate {
        font-size: 14px;
    }

    .btn-event {
        color: var(--ion-color-primary);
        font-size: 12px;
    }

    .bid-description {
        font-size: 10px;
    }
}
