<ion-header no-border class="header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title">
      ADD NEW ENERGY ASSET
    </ion-title>
    <ion-buttons slot="end">
      <ion-button disabled>
        <ion-icon slot="icon-only" name="home" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='content-div'>
    <div class="form-div">
      <div class="heading">Please add an asset and its timings</div>
      <div class="px-4 pt-3 form-item">
        <div class="form-control-label">ENERGY ASSET NAME</div>
        <ion-input class="form-control-input border rounded" type="text"> </ion-input>
      </div>
      <div class="px-4 pt-3 form-item">
        <div class="form-control-label">POWER</div>
        <div class="d-flex align-items-center power">
          <ion-icon src="assets/svg/energy-2.svg" class="power-icon"></ion-icon>&nbsp;
          <div class="input-div">
            <ion-input class="form-control-input power-input" maxlength="3" placeholder="XXX" type="text"> </ion-input>
          </div>
          <div class="unit"> KW (±3%)</div>
        </div>
      </div>
      <div class="px-4 pt-3 form-item ">
        <div class="form-control-label">OPERATING TIME </div>
        <div class="d-flex align-items-center">
          <div>
            <ion-datetime placeholder="_ _:_ _" displayFormat="hh:mm A" pickerFormat="MMM DD, hh:mm A"
              class='form-control-datetime' [class.primary]="startTime" [(ngModel)]="startTime" [min]="currentTime"
              minuteValues="0,15,30,45"></ion-datetime>
          </div>
          <div class="p-3">to</div>
          <div>
            <ion-datetime placeholder="_ _:_ _" displayFormat="hh:mm A" pickerFormat="MMM DD, hh:mm A"
              class='form-control-datetime' [class.primary]="endTime" [(ngModel)]="endTime" [min]="currentTime"
              minuteValues="0,15,30,45"></ion-datetime>
          </div>
          <div class="p-3 add-icon">
            <ion-icon name="ios-add-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="px-4">
        <div class="py-2 d-flex align-items-center">
          <div>
            12:00 AM
          </div>
          <div class="px-3">to</div>
          <div>
            12:30 AM
          </div>
          <div class="px-3 d-flex add-icon">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
        <div class="py-2 d-flex align-items-center">
          <div>
            12:00 AM
          </div>
          <div class="px-3">to</div>
          <div>
            12:30 AM
          </div>
          <div class="px-3 d-flex add-icon">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
        <div class="py-2 d-flex align-items-center">
          <div>
            12:00 AM
          </div>
          <div class="px-3">to</div>
          <div>
            12:30 AM
          </div>
          <div class="px-3 d-flex add-icon">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
        <div class="py-2 d-flex align-items-center">
          <div>
            12:00 AM
          </div>
          <div class="px-3">to</div>
          <div>
            12:30 AM
          </div>
          <div class="px-3 d-flex add-icon">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
        <div class="py-2 d-flex align-items-center">
          <div>
            12:00 AM
          </div>
          <div class="px-3">to</div>
          <div>
            12:30 AM
          </div>
          <div class="px-3 d-flex add-icon">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
        <div class="py-2 d-flex align-items-center">
          <div>
            12:00 AM
          </div>
          <div class="px-3">to</div>
          <div>
            12:30 AM
          </div>
          <div class="px-3 d-flex add-icon">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center div-add-btn">
      <ion-button class="text-center" shape="round">
        ADD
      </ion-button>
    </div>
    <div class="text-center div-close-btn">
      <ion-button class="text-center" shape="round" fill="clear">
        CLOSE
      </ion-button>
    </div>
  </div>
</ion-content>