.first-line{
    font-size:1em;
    color:black;
    font-family:MMedium !important;
    text-align:center;
}

.second-line{
    font-size:0.7em;
    color:grey;
    font-family:MMedium !important;
    text-align:center;
    padding-left:0.6em;
    padding-right:0.6em;
}