<ion-content>
    <ion-row>
        <ion-col class="menu-button" size="2">
          <div style="margin-top:-0.7em;">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
          </div>
        </ion-col>
        <ion-col class="title-top" size="8">
          <div>FORECAST</div>
        </ion-col>
        <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:5px;">
            <div style="margin-top:-0.2em;">
              <ion-icon src="assets/svg/notifications.svg"></ion-icon>
            </div>  
        </ion-col>
    </ion-row>
    <div style='position:absolute;z-index:1;bottom:-10%;left:0px;width:100%;height:102%;background-color:white;border-top-left-radius:40px;border-top-right-radius:40px;'>
      <ion-grid class="price-tables">
        <ion-row class="small-font">
          <ion-col size="4">
            <strong>
              <strong>
                Date & Time
              </strong>
            </strong>
          </ion-col>
          <ion-col size="2">
            <strong>
              Units
            </strong>
          </ion-col>
          <ion-col size="4">
            <strong>
              Price (₹)
            </strong>
          </ion-col>
          <ion-col size="2">
            
          </ion-col>
        </ion-row>
        <!-- LINE 1 -->
        <ion-row *ngFor="let forecast of forecastList; let i = index;" style="padding-top:0.5em;padding-bottom:0.5em;" 
          [ngClass]="(i % 2 == 0) ? 'grey-bg' : ''">
          <ion-col size="4" class="dt-list-text">
            <!-- <ion-text class="dt-list-text"> -->
              <div style="color:rgb(94, 93, 93)">Today</div>
              <div>06:00 AM - 07:00 AM</div>
            <!-- </ion-text> -->
          </ion-col>
          <ion-col size="2" class="dt-unit-text">
            {{getForecastPower(forecast)}}
          </ion-col>
          <ion-col size="4" class="dt-list-text" style="margin-left:-0.5em;">
            <div>
              <strong>
                {{175.00}}
              </strong>
            </div>
            <div>
              (Per Unit 5/-)
            </div>
          </ion-col>
          <ion-col size="2" style="margin-left:-1em;">
            <ion-button style="font-family:MMedium !important;width:70%;height:70%;font-size:0.6em;" 
            shape="round" color="primary" size="small" (click)="sellForecast(forecast)">
              SELL
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
