<ion-content>
  <!-- <ion-grid> -->
  <ion-row>
    <ion-col class="menu-button" size="2">
      <div style="margin-top:-0.7em;">
        <ion-back-button defaultHref="dashboard"></ion-back-button>
      </div>
    </ion-col>
    <ion-col class="title-top" style="margin-left:-0.5em;" size="8">
      <div>BUY</div>
    </ion-col>
    <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:5px;">
      <div style="margin-top:-0.2em;">
        <ion-icon src="assets/svg/notifications.svg"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-grid> -->
  <div
    style='position:absolute;z-index:1;bottom:-10%;left:0px;width:100%;height:100%;background-color:white;border-top-left-radius:30px;border-top-right-radius:30px;'>
    <ion-grid>
      <ion-row class='ion-text-center'>
        <!-- <ion-col class='ion-text-center' offset="3" size='5' class="top-row-center"> -->
        <ion-col class='ion-text-center' size='12' class="top-row-center ion-text-center">
          <ion-icon src="assets/svg/solar.svg" style='padding-right:0.5em;' *ngIf="deviceTypeId=='1'"></ion-icon>
          <ion-icon src="assets/svg/generator (1).svg" style='padding-right:0.5em;' *ngIf="deviceTypeId=='2'"></ion-icon>
          <ion-icon src="assets/svg/ev (1).svg" style='padding-right:0.5em;' *ngIf="deviceTypeId=='3'"></ion-icon>
          <span style='margin-left:"0px"' class='no-units'>{{unitMin}}-{{unitMax}}</span> units
        </ion-col>
      </ion-row>
    </ion-grid>
    <div
      style="padding-top:0.3em;border-bottom:1px solid rgb(221, 221, 221);width:80%;margin-left:auto;margin-right:auto;">
    </div>
    <ion-grid>
      <ion-row class='ion-text-center'>
        <ion-col size="5" style="position:absolute;left:1.6em;" *ngIf="screenMode=='small'">
          <ion-grid class='ion-text-left'>
            <ion-row>
              <ion-col class='font-start-end'>
                START TIME
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-datetime placeholder="_ _:_ _" displayFormat="hh:mm A" pickerFormat="MMM DD, hh:mm A"
                    style="margin-left:-0.7em;" class='font-start-end font-datetime-big grey-colour'
                    [(ngModel)]="startTime" (ionChange)="getStartTimeDetails()"
                    [min]="currentTime" minuteValues= "0,15,30,45"></ion-datetime>
                  <!-- <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span> -->
                </ion-row>
                <!-- <span class='font-start-end font-datetime-big grey-colour'>_ _:_ _ </span>
                        <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span> -->
              </ion-col>
            </ion-row>
            <ion-row style="margin-top:-0.5em;">
              <ion-col style="font-size:0.7em;" class='font-start-end grey-colour'>
                {{startTimeDetails}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="5" style="position:absolute;left:12em;" *ngIf="screenMode=='big'">
          <ion-grid class='ion-text-left'>
            <ion-row>
              <ion-col class='font-start-end'>
                START TIME
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-datetime placeholder="_ _:_ _" displayFormat="hh:mm A" pickerFormat="MMM DD, hh:mm A"
                    style="margin-left:-0.7em;" class='font-start-end font-datetime-big grey-colour'
                    [(ngModel)]="startTime" (ionChange)="getStartTimeDetails()"
                    [min]="currentTime" minuteValues= "0,15,30,45"></ion-datetime>
                  <!-- <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span> -->
                </ion-row>
                <!-- <span class='font-start-end font-datetime-big grey-colour'>_ _:_ _ </span>
                          <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span> -->
              </ion-col>
            </ion-row>
            <ion-row style="margin-top:-0.5em;">
              <ion-col style="font-size:0.7em;" class='font-start-end grey-colour'>
                {{startTimeDetails}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="2" style="position:absolute;left:40%;">
          <ion-icon style="zoom:1.2;padding-top:30%;" src="assets/svg/arrow 2.svg"></ion-icon>
        </ion-col>
        <ion-col size="5" style="position:absolute;right:-1em;">
          <ion-grid class='ion-text-right'>
            <ion-row>
              <ion-col class="font-start-end">
                END TIME
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-datetime placeholder="_ _:_ _" displayFormat="hh:mm A" pickerFormat="MMM DD, hh:mm A"
                    style="margin-left:-0.7em;" class='font-start-end font-datetime-big grey-colour'
                    [(ngModel)]="endTime" (ionChange)="getEndTimeDetails()"
                    [min]="currentTime" minuteValues= "0,15,30,45"></ion-datetime>
                  <!-- <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span> -->
                </ion-row>
                <!-- <span class='font-start-end font-datetime-big grey-colour'>_ _:_ _ </span>
                            <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span> -->
              </ion-col>
            </ion-row>
            <ion-row style="margin-top:-0.5em;">
              <ion-col style="font-size:0.7em;" class='font-start-end grey-colour'>
                {{endTimeDetails}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="position:relative;top:90px;">
      <ion-row class='ion-text-center'>
        <ion-col size="12" class='ion-text-center' style="margin-left:0.4em;">
          <span class="big-font grey-colour">
            {{duration}}
          </span>
          <span class="small-font grey-colour">
            Hrs
          </span>
        </ion-col>
      </ion-row>
      <ion-row class='ion-text-center' style="margin-top:-0.8em;margin-left:-0.9em;">
        <ion-col class="bottom-small-font grey-colour">
          DURATION
        </ion-col>
      </ion-row>
      <div
        style="padding-top:1em;border-bottom:1px solid rgb(221, 221, 221);width:80%;margin-left:auto;margin-right:auto;">
      </div>
      <ion-row>
        <ion-col offset="1" size="4"
          style="padding-top:2em;color:black;font-size:0.7em; font-family:MMedium!important;">
          BUDGET RANGE
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="1" size="5">
          <ion-item style="margin-left:-0.5em;margin-top:-0.6em;" class="number-big" lines="none">
            <ion-label style="font-size:0.7em;">₹</ion-label>
            <ion-input class="budge_inp" placeholder="XXX" [(ngModel)]="budgetMin" type="number"></ion-input>
            <ion-label>-</ion-label>
            <ion-input class="budge_inp" placeholder="XXX" [(ngModel)]="budgetMax" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="padding-top:25%;
          margin-left:auto;margin-right:auto;text-align:center;">
      <!-- <ion-button *ngIf="inputsValidFlag==false" disabled class="ion-text-center" shape="round" style="font-family:MSemiBold;opacity:0.6;width:70%;height:3em;">
                    SEARCH
                  </ion-button> -->
      <ion-button color="primary" disabled="{{!inputsValidFlag}}" class="ion-text-center" shape="round"
        style="font-family:MSemiBold;width:70%;height:3em;" routerDirection="forward" (click)="findSellers()">
        SEARCH
      </ion-button>

      <!-- START SELLERS FOUND PLEASE ADD THE CONDITION *ngIf -->
      <!-- <ion-button class="ion-text-center" shape="round" disabled="true"
        style="font-family:MSemiBold;width:70%;height:3em;">
        NO SELLERS FOUND
      </ion-button> -->
      <!-- END NO SELLERS FOUND -->
      


    </div>

    <div class="thumnails" style="padding-top:1em;">
      <div style="font-family:MMedium !important;padding-left:1em;margin-top:0.5em;font-size:0.9em;padding-bottom:1em;">
        HOT DEALS
      </div>

      <div class="list-thumbnail">
        <div class="img-thumb" style="background-color:lightblue;">
          <div class="ion-text-wrap">
            <span style="font-size:0.6em;">
              Grab up to 50 units of power for just ₹250/- only
            </span>
            <span style="font-size:0.5em;">
              #GreenEnergy #NeverBefore
            </span>
            <!-- <ion-button size="small" color="light" shape="round">MORE INFO</ion-button> -->
          </div>
        </div>
        <div class="img-thumb">
          <div class="ion-text-wrap">
            <span style="font-size:0.6em;">
              Grab up to 50 units of power for just ₹250/- only
            </span>
            <span style="font-size:0.5em;">
              #GreenEnergy #NeverBefore
            </span>
          </div>
        </div>
        <div class="img-thumb">
          <div class="ion-text-wrap">
            <span style="font-size:0.6em;">
              Grab up to 50 units of power for just ₹250/- only
            </span>
            <span style="font-size:0.5em;">
              #GreenEnergy #NeverBefore
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>




  <!-- <form [formGroup]="sellTimePickerForm">
        <div class="_Div">
          <ion-label>{{power}}</ion-label><br /><br />
          <ion-item class="_DateTimePicker">
            <ion-datetime placeholder="ENTER START TIME" formControlName="startTime" displayFormat="YYYY-MM-DDTHH:mm"></ion-datetime>
          </ion-item>
    
          <ion-item class="_DateTimePicker">
            <ion-datetime placeholder="ENTER END TIME" formControlName="endTime" displayFormat="YYYY-MM-DDTHH:mm"></ion-datetime>
          </ion-item>
    
          <ion-item class="_Input">
            <ion-input placeholder="00" formControlName="duration"></ion-input>
          </ion-item>
    
          <ion-label class="_Label">DURATION</ion-label>
    
          <ion-row>
            <ion-col>
              <ion-button type="submit" class="_Button" (click)="proceedToSetRate()">PROCEED TO SET RATE</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </form> -->

  <!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

  <!-- <ion-content>
    <div class="psell-sec">
        <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm>
                <ion-icon class="rt-arw" name="arrow-round-back"></ion-icon>
                <h3 class="sell-head text-center">Buy</h3>
                <ion-icon class="nt-ring" name="notifications-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
    
          <div class="sell-cont">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-sm>
                    <p class="sl-unit text-center">50-75 <span style="font-size:12px; color: #000000;"> units</span></p>
                    <hr>
                  </ion-col>
                </ion-row>
              </ion-grid>
    
              <ion-grid>
                  <ion-row class="time-sec">
        
                    <ion-col class="stt-time" size="5" size-sm>
                      -->
  <!-- <label>START TIME<br>{{power}}</label><br> -->
  <!-- <input class="time" type="time" name="usr_time"><span>AM</span> -->
  <!-- <ion-item class="_DateTimePicker"> -->
  <!-- <ion-row>
                                  <ion-datetime 
                                  placeholder="_ _:_ _" 
                                  displayFormat="YYYY-MM-DDTHH:mm" 
                                  style="margin-left:-0.7em;"
                                  class='font-start-end font-datetime-big grey-colour' [(ngModel)]="startTime"></ion-datetime>
                                  <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span>
                                </ion-row> -->
  <!-- <ion-datetime placeholder="DAY, DD MM" displayFormat="YYYY-MM-DDTHH:mm"></ion-datetime> -->
  <!-- </ion-item> -->

  <!-- </ion-col>
        
                    <ion-col size="2" class="trans-icn" size-sm align-self-center>
                        <ion-icon class="circle-icn2" name="arrow-dropleft-circle"></ion-icon>
                    </ion-col>
        
                    <ion-col class="stt-time" size="5" size-sm>
                       
                            <label>END TIME</label><br> -->
  <!-- <input class="time" type="time" name="usr_time"><span>AM</span> -->
  <!-- <ion-item class="_DateTimePicker"> -->
  <!-- <ion-datetime placeholder="DAY, DD MM" displayFormat="YYYY-MM-DDTHH:mm"></ion-datetime> -->
  <!-- <ion-row>
                                    <ion-datetime 
                                    placeholder="_ _:_ _" 
                                    displayFormat="YYYY-MM-DDTHH:mm" 
                                    style="margin-left:-0.7em;"
                                    class='font-start-end font-datetime-big grey-colour' [(ngModel)]="startTime"></ion-datetime>
                                    <span style="font-size:0.7em;" class='font-start-end grey-colour'>AM</span>
                                  </ion-row>   -->
  <!-- </ion-item> -->

  <!-- </ion-col>
                    
                  </ion-row>
                </ion-grid>
    
                <div class="_Div">
                    <p>00:00 <span style="font-size:12px;font-weight:400;color:#9a9a9e;">Hrs</span></p>
                    <p class="sr-dur">DURATION</p>
                    <hr>
                </div> -->

  <!-- <ion-grid>
                    <ion-row class="unit-sec">
                        <ion-col><ion-label class="_Label">BUDGET RANGE</ion-label>
                              <ion-item class="_Input input-amt" lines="none">
                                  <ion-input placeholder="XX-XX" class="budge_inp"></ion-input>
                              </ion-item>
                        </ion-col>
                      </ion-row>
                </ion-grid> -->

  <!-- <ion-grid>
                  <ion-row>
                      <ion-col size="12" class="sl-btn" size-sm> -->
  <!-- <ion-button class="srch-btn" shape="round" expand="full" (click)="submit()">SEARCH</ion-button> -->
  <!-- </ion-col>
                  </ion-row>
                </ion-grid> -->

  <!-- <ion-grid>
                  <ion-row class="ht-deal">
                    <ion-col size-sm>
                      <h5>HOT DEALS</h5>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <div class="hotd1">
                        <p>Grab upto 50 units of Power  for just Rs.250/- only</p>
                        <span class="hash_txt">#GreenEnergy @Never-Before</span>
                        <ion-button class="htd-btn" color="primary" shape="round"><span style="color: #000000;"><b>1</b> Unit | <b>Rs.5/-</b></span></ion-button>
                        <a><p>BUY NOW</p></a>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="hotd2">
                            <p>Grab upto 50 units of Power  for just Rs.250/- only</p>
                            <span class="hash_txt">#GreenEnergy @Never-Before</span>
                            <ion-button class="htd-btn" color="primary" shape="round"><span style="color: #000000;"><b>1</b> Unit | <b>Rs.5/-</b></span></ion-button>
                            <a><p>GRAB IT</p></a>
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-grid> -->



  <!-- </div>
      </div> -->
</ion-content>