<ion-content>
  <ion-row>
    <ion-col class="menu-button" size="2">
      <div style="margin-top:-0.7em;padding-top:1em;">
        <ion-back-button defaultHref="dashboard"></ion-back-button>
      </div>
    </ion-col>
    <ion-col class="title-top" size="8">
      <div>SELLERS LIST</div>
    </ion-col>
    <!-- <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:5px;">
            <div style="margin-top:-0.2em;padding-top:0.6em;">
              <ion-icon src="assets/svg/notifications.svg"></ion-icon>
            </div>  
        </ion-col> -->
  </ion-row>
  <ion-grid style="width:98%;">
    <ion-row style="padding-bottom:1em;">
      <ion-col class="top-line">
        Search Result: 4 post found on 11 OCT"
      </ion-col>
    </ion-row>
    <ion-row class="height-adjust" *ngFor="let seller of sellerList" (click)="selectSeller(seller)">
      <ion-col>
        <ion-card style="background-color:white;" routerDirection="forward" routerLink='/order-details'>
          <ion-grid>
            <ion-row>
              <ion-col size="4" class='ion-text-center'>
                <a class="icon-circle icon-circle-outline">
                  <ion-icon style="width:20px;height:20px;vertical-align: middle;padding-bottom:15px;"
                    src="assets/svg/solar.svg"></ion-icon>
                </a>
                <ion-row>
                  <ion-col class="small-font-left">
                    <ion-icon class="icon" name="pin" color="primary" style="padding-right:0.3em;"></ion-icon>
                    Gachibowli
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col class="middle-card" size="5">
                {{seller.power_to_sell}} Units
                <div class="small-font">
                  ID #{{seller.sell_order_id}}
                </div>
                <div class="small-font-black">
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/timer.svg"></ion-icon>
                  {{getFormattedTime(seller.transfer_start_ts)}} - {{getFormattedTime(seller.transfer_end_ts)}} 
                </div>
              </ion-col>
              <ion-col size="3" class="right-card">
                <span class='smaller'>
                  ₹
                </span>
                <span class="bigger">
                  {{seller.total_amount}}
                </span>
                <div class="smaller-grey">
                  (Per Unit {{seller.rate_per_unit}}/-)
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="the-footer">
  <ion-grid class="ion-text-center" style="padding:0;">
    <ion-row>
      <ion-col class="bottom-footer">
        <!-- <ion-button expand="full"> -->
        <ion-icon style="transform: rotate(90deg);" name="swap"></ion-icon>
        SORT
        <!-- </ion-button> -->
      </ion-col>
      <ion-col class="bottom-footer">
        <!-- <ion-button expand="full"> -->
        <ion-icon name="funnel"></ion-icon>
        FILTER
        <!-- </ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>