ion-content{
    --background:#0048A8;
  
  }

  ion-item{
      font-family:MMedium !important;
  }

  .menu-button{
    color:white;
    text-align: left;
    margin-top:1em;
  }
  
  .title-top{
    color:white;
    text-align:center;
    font-size:1.4em;
    font-family:MSemiBold !important;
    margin-top:1em;
  }

  .title-text{
    font-family: MMedium !important;
    color:white;
    text-align:center;
  }

  .sub-text{
    font-family:MMedium !important;
    color:white;
    text-align:center;
    font-size:0.7em;
  }