<!-- <ion-header class="_header">
  
  <ion-toolbar class="_toolbar">
    <ion-title class="__title" style="font-family:MMedium !important;">
        ADD RESOURCES
    </ion-title>
  </ion-toolbar>

  <div class="bL"></div>
</ion-header> -->

<ion-content class="_content">
    <ion-row style="padding-top: 1em;">
        <ion-col class="menu-button" size="2">
          <!-- <div style="margin-top:-0.7em;">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
          </div> -->
        </ion-col>
        <ion-col class="title-top" style="margin-left:-0.5em;" size="8">
          <div>ADD DEVICES</div>
        </ion-col>
        <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:5px;">
          <!-- <div style="margin-top:-0.2em;">
            <ion-icon src="assets/svg/notifications.svg"></ion-icon>
          </div> -->
        </ion-col>
      </ion-row>
<!-- <div > -->

<div class="content-main" style='position:absolute;z-index:1;bottom:-10%;left:0px;width:100%;height:100%;background-color:white;border-top-left-radius:30px;border-top-right-radius:30px;'>

  <div class="Source_1">
    <p class="enry_p">What enery sources do you have?</p>

    <ion-row>
      <ion-col>
        <div class="Card_" (click)="selectSolar()" id="solarDiv">
          
            <img src="../../../assets/assets2/solar-power.svg" class="ico_">
            <p class="p_veh">Solar</p>
          
        </div>

        <div class="Card_" (click)="selectGenerator()" id="generatorDiv">
          
            <img src="../../../assets/assets2/generator.svg" class="ico_">
            <p class="p_veh">Generator</p>
          
          </div>

          <div class="Card_" (click)="selectEV()" id="evDiv">

            <img src="../../../assets/assets2/ev.svg" class="ico_">
            <p class="p_veh">Electric Vehicle</p>
          
            </div>
      </ion-col>
    </ion-row>
  </div>

</div>
</ion-content>


<ion-footer class="source_">
    <ion-toolbar class="_toolbar__">

        <ion-buttons slot="start" (click)="skip()">
           <p class="_skip">Skip </p>
          </ion-buttons>
      
          <ion-buttons slot="end" (click)="next()">
              <p class="_next">NEXT </p>
             </ion-buttons>
    
      </ion-toolbar>
  </ion-footer>