ion-content {
    --ion-font-family: MMedium;
}

.btn-close {
    width: 20px;
    height: 20px;
    color: gray;
    padding-top: 5px;
    padding-right: 5px;
}

.header-icon {
    font-size: 50px;
    color: #b00000;
}

.header {
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 11px;
    text-align: justify;
    color: gray;
}

.event-chip {
    background-color: white;
    color: var(--ion-color-primary);
    // opacity: 0.5;

    &.active {
        background-color: var(--ion-color-primary);
        color: white;
    }
}

.btn-modal {
    width: 115px;
    font-size: 12px;
}