<ion-app>
  <ion-split-pane>
    <!-- (click)="getUserDetails() -->
    <ion-menu type="overlay">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ion-row style="border-bottom:1px solid rgba(177, 177, 177, 0.7);">
          <ion-col size="6" style="padding: 15px 10px 15px 15px;" (click)="changePersona('p2p')"
            *ngIf="checkinAvailablePersonas('P2P')">
            <div class="top-btn " [class.btn-active]="selectedUserPersona=='P2P'">
              <img [hidden]="selectedUserPersona=='P2P'" src="assets/svg/P2PB.svg" class="btn-image" alt="">
              <img [hidden]="selectedUserPersona!='P2P'" src="assets/svg/P2PW.svg" class="btn-image" alt="">
              Peer - Peer
            </div>
          </ion-col>
          <ion-col size="6" style="padding: 15px 15px 15px 10px;" (click)="changePersona('dr')"
            *ngIf="checkinAvailablePersonas('DR')">
            <div class=" top-btn" [class.btn-active]="selectedUserPersona=='DR'">
              <img [hidden]="selectedUserPersona=='DR'" src="assets/svg/DRB.png" class="btn-image" alt="">
              <img [hidden]="selectedUserPersona!='DR'" src="assets/svg/DRW.png" class="btn-image" alt="">
              Demand Response
            </div>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-menu-toggle (click)="navigateToProfile()">
            <ion-item style="padding-top:0.5em;" detail="true" lines="none" (click)="navigateToProfile()">
              <ion-avatar slot="start" style="border:1px rgba(128, 128, 128, 0.486) solid;">
                <img src="assets/assets2/man.svg">
              </ion-avatar>
              <ion-grid>
                <ion-row>
                  <ion-col class="name-class">
                    {{userName}}
                  </ion-col>
                </ion-row>
                <!-- <ion-row>
                  <ion-col class="location-class">
                    <ion-icon class="icon" name="pin"></ion-icon>
                    {{localityName}}
                  </ion-col>
                </ion-row> -->
              </ion-grid>
            </ion-item>
          </ion-menu-toggle>
          <div
            style="padding-top:1em;border-bottom:1px solid rgba(177, 177, 177, 0.7);width:100%;margin-left:auto;margin-right:auto;">
          </div>
        </ion-list>
        <ion-list>

          <ion-menu-toggle *ngIf='userRole == "Admin" && selectedUserPersona == "P2P"'>
            <ion-item style="padding-top:0.2em;" class="list-item" lines="none" (click)="navigateToAdminDashboard()">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="assets/svg/dashboard.svg"
                slot="start"></ion-icon>
              <ion-label class="name-class">Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf='selectedUserPersona == "DR"'>
            <ion-item style="padding-top:0.2em;" class="list-item" lines="none" (click)="navigateToDRDashboard()">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="assets/svg/dashboard.svg"
                slot="start"></ion-icon>
              <ion-label class="name-class">Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='selectedUserPersona == "DR"'>
            <ion-item style="padding-top:0.2em;" class="list-item" lines="none" (click)="navigateToAllDREvents()">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="assets/svg/dashboard.svg"
                slot="start"></ion-icon>
              <ion-label class="name-class">DR Events</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='userRole == "Admin" && selectedUserPersona == "P2P"'>
            <ion-item style="padding-top:0.2em;" class="list-item" lines="none" (click)="navigateToCustomerList()">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" name="people" slot="start">
              </ion-icon>
              <ion-label class="name-class">Customers</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='userRole == "Admin" && selectedUserPersona == "P2P"'>
            <ion-item style="padding-top:0.2em;" class="list-item" lines="none">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);"
                src="assets/svg/add_resources.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Add Locations</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='userRole == "User" && selectedUserPersona == "P2P"'>
            <ion-item class="list-item" lines="none" (click)="navigateToSell()">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="assets/svg/sell copy.svg"
                slot="start"></ion-icon>
              <ion-label class="name-class">Sell Power</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='userRole == "User" && selectedUserPersona == "P2P"'>
            <ion-item style="padding-top:0.2em;" class="list-item" lines="none" (click)="navigateToBuy()">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);"
                src="assets/svg/sell copy 6.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Buy Power</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle>
              <ion-item style="padding-top:0.2em;" class="list-item" lines="none" (click)="navigateToSell()">
                <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="assets/svg/settings.svg"
                  slot="start"></ion-icon>
                <ion-label class="name-class">Settings</ion-label>
              </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
              <ion-item class="list-item" lines="none">
                <ion-icon src="assets/svg/headset.svg" slot="start"></ion-icon>
                <ion-label class="name-class">Help</ion-label>
              </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle *ngIf='userRole == "User" && selectedUserPersona == "P2P"'>
            <ion-item class="list-item" lines="none" routerLink="manage-orders" routerDirection="forward">
              <ion-icon src="assets/svg/boxlid.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Manage Orders</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='userRole == "User" && selectedUserPersona == "P2P"'>
            <ion-item class="list-item" lines="none" routerLink="statement" routerDirection="forward">
              <ion-icon src="assets/svg/boxlid.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Monthly Statement</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='userRole == "User" && selectedUserPersona == "P2P"'>
            <ion-item class="list-item" lines="none" routerLink="forecast-list" routerDirection="forward">
              <ion-icon src="assets/svg/wallet.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Forecast</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf='userRole == "User" && selectedUserPersona == "P2P"'>
            <ion-item class="list-item" lines="none">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              <ion-label class="name-class">Add Resources</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="list-item" lines="none">
              <ion-icon src="assets/svg/settings.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="list-item" lines="none">
              <ion-icon src="assets/svg/headset.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Help</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item (click)="logout()">
              <ion-icon name="log-out" slot="start"></ion-icon>Logout
            </ion-item>
          </ion-menu-toggle>

        </ion-list>




        <!-- <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle><ion-item (click) = "logout()"><ion-icon name="log-out" slot="start"></ion-icon>Logout</ion-item></ion-menu-toggle>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  <ng-http-loader></ng-http-loader>
</ion-app>