<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
          <ion-item style="padding-top:0.5em;" detail="true" lines="none" routerLink="profile" routerDirection="forward">
              <ion-avatar slot="start" style="border:1px rgba(128, 128, 128, 0.486) solid;">
                  <img src="assets/assets2/man.svg">
              </ion-avatar>
            <ion-grid>
              <ion-row>
                <ion-col class="name-class">
                  Arjun Singh
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="location-class">
                  <ion-icon class="icon" name="pin"></ion-icon>
                  Tarnaka
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          </ion-menu-toggle>
          <div style="padding-top:1em;border-bottom:1px solid rgba(177, 177, 177, 0.7);width:100%;margin-left:auto;margin-right:auto;"></div>
        </ion-list>
        <ion-list>
         <ion-menu-toggle>
          <ion-item style="padding-top:0.2em;" class="list-item" lines="none" (click)="navigateToSell()">
            <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="assets/svg/sell (1).svg" slot="start"></ion-icon>
            <ion-label class="name-class">Sell Power</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="list-item" lines="none" (click)="navigateToBuy()">
              <ion-icon style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="assets/svg/buy (1).svg" slot="start"></ion-icon>
              <ion-label class="name-class">Buy Power</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="list-item" lines="none" routerLink="manage-orders" routerDirection="forward">
              <ion-icon src="assets/svg/boxlid.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Manage Orders</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="list-item" lines="none">
              <ion-icon src="assets/svg/wallet.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Wallet</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="list-item" lines="none">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              <ion-label class="name-class">Add Resources</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="list-item" lines="none">
              <ion-icon src="assets/svg/settings.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="list-item" lines="none">
              <ion-icon src="assets/svg/headset.svg" slot="start"></ion-icon>
              <ion-label class="name-class">Help</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
        <!-- <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle><ion-item (click) = "logout()"><ion-icon name="log-out" slot="start"></ion-icon>Logout</ion-item></ion-menu-toggle>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
