<!-- <ion-header class="_header" style="border-bottom-left-radius:40px;border-bottom-right-radius:40px;">

  <ion-toolbar class="_toolbar">

    <ion-title class="__title" style="font-family: MMedium !important;">
      CREATE ACCOUNT
    </ion-title>
  </ion-toolbar>

  <div class="bL"></div>
</ion-header> -->

<ion-content class="_content">
    <ion-row>
        <!-- <ion-col class="menu-button" size="2">
          <div style="margin-top:-0.7em;">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
          </div>
        </ion-col> -->
        <ion-col class="title-top" style="text-align:center;" size="12">
          <div>REGISTER</div>
        </ion-col>
        <!-- <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:5px;">
            <div style="margin-top:-0.2em;">
              <ion-icon src="assets/svg/notifications.svg"></ion-icon>
            </div>  
        </ion-col> -->
    </ion-row>

  <div style='position:absolute;z-index:1;bottom:-10%;left:0px;width:100%;height:100%;background-color:white;border-top-left-radius:30px;border-top-right-radius:30px;'>

  <div class="content-main">


    <form [formGroup]="registerForm">
      <ion-list>
        <br />
        <div class="Label_">
          <p class="p__">EMAIL ADDRESS</p>
          <ion-input class="_Input" formControlName="email" type="Email"></ion-input>
        </div>

        <div class="Label_">
          <p class="p__">SELECT STATE</p>

          <div class="Flex_">

            <ion-label class="lov_label">{{selectedState}}</ion-label>
            <!-- <ion-select class="_Input" formControlName="stateList" placeholder="Select State" (ionChange)="getBoardsPostStateSelection()">
            <ion-select-option *ngFor="let state of states">{{state.stateName}}</ion-select-option>
            <ion-select-option value="1">Andhra Pradesh</ion-select-option>
            <ion-select-option value="2">Telangana</ion-select-option>
          </ion-select> -->

            <img src="../../../assets/assets2/select_state.svg" class="svg_icon" (click)="openState_Modal()">

          </div>
        </div>
        <div class="Label_">
          <p class="p__">SELECT LOCALITY</p>

          <div class="Flex_">

            <ion-label class="lov_label">{{selectedLocality}}</ion-label>
            <img src="../../../assets/assets2/select_state.svg" class="svg_icon" (click)="openLocality_Modal()">

          </div>


          <!-- <ion-select class="_Input" formControlName="boardList" placeholder="Select Board">
            <ion-select-option *ngFor="let board of boards">{{board.boardName}}</ion-select-option>
            <ion-select-option value="1">TSNPDCL</ion-select-option>
            <ion-select-option value="2">TSSPDCL</ion-select-option>
          </ion-select> -->
        </div>
        <div class="Label_">
          <p class="p__">SELECT BOARD</p>

          <div class="Flex_">

            <ion-label class="lov_label">{{selectedBoard}}</ion-label>
            <img src="../../../assets/assets2/select_board.svg" class="svg_icon" (click)="openBoard_Modal()">

          </div>


          <!-- <ion-select class="_Input" formControlName="boardList" placeholder="Select Board">
            <ion-select-option *ngFor="let board of boards">{{board.boardName}}</ion-select-option>
            <ion-select-option value="1">TSNPDCL</ion-select-option>
            <ion-select-option value="2">TSSPDCL</ion-select-option>
          </ion-select> -->
          <br />
        </div>

        <!-- <div class="Message">
            <p class="p_message">By clicking Continue you are accepting to Sustain Impact <span class="Terms_"> Terms & Conditions</span></p>
          </div> -->

        <ion-row>
          <ion-col>
            <ion-button (click)="register()" [disabled]="!registerForm.valid">REGISTER
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-list>
    </form>
  </div>
  </div>
</ion-content>

<!--<ion-footer>
  <ion-toolbar>
    <ion-title class="my-footer-style">Don't have an account? <span class="redirect-button">REGISTER</span></ion-title>
  </ion-toolbar>
</ion-footer>-->

<ion-footer>
  <ion-toolbar>
    <ion-title class="my-footer-style">Already have an account? <span class="redirect-button"
        (click)="redirectToLogin()">SIGN IN</span></ion-title>
  </ion-toolbar>
</ion-footer>