<ion-header>
  <ion-toolbar>
    <ion-title>CREATE ACCOUNT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-main">
    <form [formGroup]="registerForm">
      <ion-list>
        <ion-label class="heading-1">
          <!--<p>CREATE ACCOUNTt</p>-->
        </ion-label>

        <ion-item lines="none">
          <ion-label>EMAIL ADDRESS</ion-label>
          <ion-input formControlName="fullName" type="Fullname"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>SELECT STATE</ion-label>
          <ion-select formControlName="stateList">
            <ion-select-option value="andhra pradesh">Andhra Pradesh</ion-select-option>
            <ion-select-option value="telangana">Telangana</ion-select-option>
        </ion-item>
        <ion-item lines="none">
          <ion-label>SELECT BOARD</ion-label>
          <ion-select formControlName="boardList">
            <ion-select-option value="tsnpdcl">TSNPDCL</ion-select-option>
            <ion-select-option value="tsspdcl">TSSPDCL</ion-select-option>
        </ion-item>
        <!--<ion-label routerLink='/login'>By clicking Continue you are accepting to Sustain Impact Terms & Conditions</ion-label>-->
        <ion-item lines="none">
          <ion-button type="submit" (click)="continueToRegister()" [disabled]="!registerForm.valid">REGISTER
          </ion-button>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>