<ion-content>
  <ion-grid class="p-0">
    <ion-row>
      <ion-col class="p-0 d-flex justify-content-end">
        <ion-icon class="btn-close" name="close" (click)="close()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="d-flex justify-content-center header-icon">
        <ion-icon name="trash"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="header"> Withdraw <br> {{params.timeRange}}?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="description">
        Your participation in this event will no longer be active. Do you still want to
        withdraw?
      </ion-col>
    </ion-row>
    <ion-row class="border-top">
      <ion-col class="btn-modal border-right" (click)="close()"> NO </ion-col>
      <ion-col class="btn-modal" (click)="withdrawFromEvent()"> YES, WITHDRAW</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>