ion-content {
    --ion-font-family: MMedium;
}

.btn-close {
    width: 20px;
    height: 20px;
    color: gray;
    padding-top: 5px;
    padding-right: 5px;
}

.header-icon {
    font-size: 50px;
    color: #b00000;
}

.header {
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 11px;
    text-align: justify;
    color: gray;
}


p.heading {
    font-size: 10px;
    font-family: Gotham;
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: uppercase;
}

p.detail {
    font-size: 16px;
    font-family: Gotham;
    font-weight: bold;
    margin-bottom: 0px;
    color: var(--ion-color-primary);

}

.form-detail {
    margin-top: 20px;
}

.form-control-input {
    width: 50% !important;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding-left: 10px !important;
    height: 36px;
    color: var(--ion-color-primary);
}

.btn-modal {
    width: 115px;
    font-size: 12px;
}