<ion-content>
    <ion-grid>
        <!-- <ion-row style="text-align:right;">
          <ion-col>
            <ion-button fill="clear" color="dark" size="small" (click)="close()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row> -->
        <ion-row style="text-align:center;padding-top:2em;">
          <ion-col>
            <ion-icon style="zoom:2.5" name="warning" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="first-line">
            End Date is not valid
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="second-line">
            This will allow the customers to trade between 06:30 AM - 08:00 AM on 11 June
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:center;padding-top:1em;">
            <ion-button shape="round" color="primary" style="font-family:MMedium !important;">
              TRY AGAIN
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
