ion-content {
    --background: #0048a8;
}

.menu-button {
    color: white;
    text-align: left;
}

.title-top {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-family: MSemiBold !important;
}

.title {
    font-family: MMedium;
    font-size: 16px;
    color: white;
}

.view-all {
    font-family: MMedium;
    font-size: 12px;
    color: white;
}

.percent-chip {
    height: 15px;
    width: 50px;
    font-size: 10px;
    color: #63b508;
    background-color: #63b50840;
    border-radius: 15px;

    ion-icon {
        font-size: 12px;
    }
}

.total-earning {
    font-family: MMedium;

    .card {
        background-color: white;

        .header {
            font-size: 10px;
        }

        .header-amount {
            font-size: 30px;
            font-weight: bold;
            color: #003c8e;
        }

        .duration {
            font-size: 10px;
            color: gray;

            .tab-indicator {
                height: 2px;
                width: 20px;
                background-color: white;
                border-radius: 10px;
                margin: auto;
            }
        }

        .duration-active {
            color: #003c8e;
            font-weight: bold;

            .tab-indicator {
                background-color: #003c8e;
            }
        }

        .earning-details {
            .amount {
                font-size: 16px;
                color: #003c8e;
                font-weight: bold;
            }

            .description {
                font-size: 8px;
            }
        }
    }
}

.empty-event-list {
    height: 150px;
    background: #003c8e;
    padding: 20px 100px;

    .label {
        font-size: 10px;
        text-align: center;
        color: white;
        font-family: MMedium;
    }
}

.event-list-item {
    background-color: white;
    padding: 0 15px;
    border-radius: 5px;

    .event-date {
        font-size: 16px;
        font-family: MMedium;
        text-transform: uppercase;
    }

    .event-detail {
        font-size: 10px;
        font-family: MMedium;
        line-height: 0;
    }

    .view-event {
        padding: 10px;
        border-top: 1px solid #ccc;
        color: var(--ion-color-primary);
        font-size: 12px;
        font-family: MSemiBold;
    }
}

.event-history {
    .event-detail {
        font-size: 10px;
        font-family: MMedium;
    }

    .history-card {
        .icon {
            font-size: 30px;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 8px;
        }

        .count {
            font-size: 20px;
            font-family: MMedium;
            text-align: center;
        }

        .label {
            font-family: MMedium;
            font-size: 8px;
            color: gray;
            text-align: center;
        }

        .green {
            color: #63b509;
        }

        .red {
            color: #d0021c;
        }

        .orange {
            color: #f5a724;
        }
    }
}
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
