<!-- <ion-header no-border>
  <ion-toolbar color="primary">
    <ion-row class="ion-align-items-center">
      <ion-col class="menu-button ion-no-padding" size="2">
        <ion-back-button defaultHref="dashboard"></ion-back-button>
      </ion-col>
      <ion-col class="title-top ion-no-padding" size="8">
        <div>DASHBOARD</div>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" src="assets/svg/notifications.svg" style="color:white;font-size:1.6em;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header> -->



<ion-content>
  <ion-row>
    <ion-col class="menu-button" size="2">
      <ion-menu-button></ion-menu-button>
    </ion-col>
    <ion-col class="title-top" size="8">
      DASHBOARD
    </ion-col>
    <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:5px;"
      (click)="showNotifications()">
      <ion-icon src="assets/svg/notifications.svg"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-refresher slot="fixed" (ionRefresh)="refreshEventSets($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="total-earning">
    <ion-row class="px-3">
      <ion-col class="card p-0">
        <ion-row class="py-3">
          <ion-col size="12" class="p-0 text-center header">TOTAL EARNING (30 TRANSACTIONS)</ion-col>
          <ion-col size="12" class="p-0 d-flex align-items-center justify-content-center header-amount">
            <div> ₹ {{totalEarnings - totalPenalty}}</div>
            <div class="ml-2 d-flex align-items-center justify-content-center percent-chip">
              <ion-icon *ngIf="false" name="arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="true" name="md-arrow-dropup"></ion-icon>
              0.00%
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="p-0 px-4 d-flex align-items-center justify-content-between border-bottom">
            <div class="duration duration-active">
              <div>Transaction</div>
              <div class="tab-indicator"></div>
            </div>
            <div class="duration">
              <div>Daily</div>
              <div class="tab-indicator"></div>
            </div>
            <div class="duration">
              <div>Weekly</div>
              <div class="tab-indicator"></div>
            </div>
            <div class="duration">
              <div>Monthly</div>
              <div class="tab-indicator"></div>
            </div>
            <div class="duration">
              <div>Yearly</div>
              <div class="tab-indicator"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="earning-details">
          <ion-col class="px-2 py-3 d-flex align-items-center justify-content-between">
            <div>
              <div class="d-flex align-items-center">
                <div class="amount"> ₹ XX.X</div>
                <div class="ml-1 d-flex align-items-center justify-content-center percent-chip">
                  <ion-icon *ngIf="false" name="arrow-dropdown"></ion-icon>
                  <ion-icon *ngIf="true" name="md-arrow-dropup"></ion-icon>
                  X.XX%
                </div>
              </div>
              <div class="description">YOUR EARNING (AVG)</div>
            </div>
            <div>
              <div class="amount"> ₹ XX.X</div>
              <div class="description">TOP 20 PERCENTILE</div>
            </div>
            <div>
              <div class="amount"> ₹ XX.X</div>
              <div class="description">BOTTOM 20 PERCENTILE</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="p-0 pl-1 d-flex align-items-center title">
        Published DR Event Sets ({{eventSetsWithPublishedEvents?.length}})&nbsp;<ion-icon
          name="information-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="3" class="p-0 d-flex align-items-center justify-content-center view-all "
        (click)="viewAllEventSets()" *ngIf="eventSetsWithPublishedEvents?.length > 0">
        View All &nbsp;&nbsp;<ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- empty state -->
    <ion-row *ngIf="eventSetsWithPublishedEvents?.length==0">
      <ion-col size="12">
        <div class="empty-event-list rounded">
          <div class="text-center p-3">
            <ion-icon src="assets/svg/forecast-data.svg" style="font-size: 50px;color: white;"></ion-icon>
          </div>
          <div class="label">No Published Demand Responce Events</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="event-list-item mt-1" *ngFor="let eventset of eventSetsWithPublishedEvents; let i = index">
      <ion-col size="12" class="p-0 py-2" *ngIf="i<2">
        <!-- <div class="event-date">{{formatTime(eventset?.createdTs)}}</div> -->
        <div class="event-name">{{eventset?.eventSetName}}</div>
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{eventset?.events.length}} Dr Events
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/energy.svg"></ion-icon>&nbsp;{{findMaxAndMinPower(eventset)}}
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/rupee.svg"></ion-icon>&nbsp;{{findMaxAndMinPrice(eventset)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="text-center view-event" (click)="showEventSetDetails(eventset,'published')" *ngIf="i<2">
        View Events
      </ion-col>
    </ion-row>

    <!-- <ion-row class="event-list-item mt-1">
      <ion-col size="12" class="p-0 py-2">
        <div class="event-date">27 Oct, 2019</div>
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;5 Dr Events
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/energy.svg"></ion-icon>&nbsp;900KW-1100KW
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/rupee.svg"></ion-icon>&nbsp;600-1124 Paise/KWH
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="text-center view-event" (click)="showEventSetDetails()">
        View Events
      </ion-col>
    </ion-row> -->


  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="p-0 pl-1 d-flex align-items-center title">
        Scheduled DR Event Sets ({{eventSetsWithScheduledEvents?.length}})&nbsp;<ion-icon
          name="information-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="3" class="p-0 d-flex align-items-center justify-content-center view-all "
        (click)="viewAllEventSets()" *ngIf="eventSetsWithPublishedEvents?.length > 0">
        View All &nbsp;&nbsp;<ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let eventset of eventSetsWithScheduledEvents; let i = index">
      <ion-col size="12" class="p-0 py-2" *ngIf="i<2">
        <!-- <div class="event-date">{{formatTime(eventset?.createdTs)}}</div> -->
        <div class="event-name">{{eventset?.eventSetName}}</div>
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{eventset?.events.length}} Dr Events
          </div>
          <div class="d-flex align-items-center">
            Scheduled: {{countScheduled(eventset)}}
          </div>
          <div class="d-flex align-items-center">
            Counter Bid: {{countCounterBids(eventset)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="text-center view-event" (click)="showEventSetDetails(eventset,'scheduled')" *ngIf="i<2">
        View Events
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="pb-1">
      <ion-col size="9" class="p-0 pl-1 d-flex align-items-center title">
        Event History Overview
      </ion-col>
      <!-- <ion-col size="3" class="p-0 d-flex align-items-center justify-content-center view-all ">
        View All &nbsp;&nbsp;<ion-icon name="arrow-forward"></ion-icon>
      </ion-col> -->
    </ion-row>
    <ion-row class="event-history">
      <ion-col size="4" class="p-0">
        <div class="history-card bg-white rounded mr-1 p-2">
          <div class="icon green">
            <ion-icon mode="ios" name="checkmark-circle"></ion-icon>
          </div>
          <div class="count">{{successfulCount}}</div>
          <div class="label">Successful DR Events</div>
        </div>
      </ion-col>

      <ion-col size="4" class="p-0">
        <div class="history-card bg-white rounded p-2">
          <div class="icon red">
            <ion-icon mode="ios" name="close-circle"></ion-icon>
          </div>
          <div class="count text-secondary">{{cancelledCount}}</div>
          <div class="label">Cancelled DR Events</div>
        </div>
      </ion-col>

      <ion-col size="4" class="p-0">
        <div class="history-card bg-white rounded ml-1 p-2">
          <div class="icon orange">
            <ion-icon mode="ios" name="alert"></ion-icon>
          </div>
          <div class="count">{{penaltyCount}}</div>
          <div class="label">Penalty DR Events</div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>