<ion-content>
  <ion-row class="row-control">
    <ion-col class="menu-button" size="2" style="margin-top:25px;">
      <div>
        <ion-menu-button></ion-menu-button>
      </div>
    </ion-col>
    <ion-col class="title-top" size="8">
      <div>MANAGE ORDERS</div>
    </ion-col>
    <ion-col size="2" style="color:white;font-size:1.6em;text-align:center;margin-top:25px;">
      <ion-icon src="assets/svg/notifications.svg"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="box-top">
    <ion-grid>
      <ion-row>
        <ion-col class="top-box-left" size="9" style="margin-left:-1.2em;">
          <ion-row>
            <ion-col size="2" class="top-box-currency">
              ₹
            </ion-col>
            <ion-col size="10">
              <div class="top-box-big-total">0</div>
              <div class="top-box-total-balance">Total Balance</div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="top-box-right" size="3">
          <!-- ADD WALLET PHOTO HERE -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>

    <!-- START EMPTY PRODUCTION -->
    <ion-grid style="position:relative;z-index:2;padding-top:10%;" *ngIf="displayOrderList?.length==0">
      <ion-row>
        <ion-col class="ion-text-center">
          <div
            style="text-align:center;border-radius:100%;height:140px;width:140px;background-color:rgba(132, 184, 253, 0.425); margin-left:auto;margin-right:auto;">
            <ion-icon style="zoom:4.5;margin-top:7px;" color="light" src="assets/svg/boxlid.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center title-text">
          <strong>
            No orders yet
          </strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="2" size="8" class="ion-text-center sub-text">
          Stay tuned! All your orders show up here.
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- END EMPTY PRODUCTION -->

    <!-- LINE PRODUCTION -->
    <ion-row *ngFor="let order of displayOrderList">
      <ion-card [ngClass]="getCSS(order)">
        <ion-row class="ion-align-items-center" [class.disabled]="orderDisabled">
          <ion-col size="2" class="prediction">
            <ion-icon style="zoom:2.7;" class="d-block m-auto" src="assets/svg/sell (1).svg"
              *ngIf="order.orderType == 'sell'"></ion-icon>
            <ion-icon style="zoom:2.7;" class="d-block m-auto" src="assets/svg/buy (1).svg"
              *ngIf="order.orderType == 'buy'"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-row style="margin-bottom:0.7em;">
              <ion-col>
                <span class="unit-number">
                  {{order.powerToSell}} Units
                </span><br>
                <span class="unit-id">
                  ID #{{order.orderId}}
                </span>
              </ion-col>
              <ion-col size="4" class="card-price">
                ₹ <span style="font-size:1.3em;">{{order.totalAmount}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3" class="bottom-row" style="font-family:MMedium !important;">
                <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/solar (1).svg"
                  *ngIf='order.device_type_name == "Solar"'></ion-icon>
                <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/generator (1).svg"
                  *ngIf='order.device_type_name =="Generator"'></ion-icon>
                <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/ev (1).svg"
                  *ngIf='order.device_type_name =="Electric Vehicle"'>
                </ion-icon>
                <ion-label class="icon" style="margin-top:-0.2em;margin-left:0.5em;">
                  {{order?.deviceTypeName}}
                </ion-label>
              </ion-col>
              <ion-col size="3" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/calendar.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  {{formatTime(order.transferStartTs,'d')}}
                </ion-label>
              </ion-col>
              <ion-col size="6" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/timer.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  {{formatTime(order.transferStartTs,'t')}} - {{formatTime(order.transferEndTs,'t')}}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- <ion-row style="padding-bottom:0.5em;">
                <ion-col offset="1" size="3" class="bottom-row" style="font-family:MMedium !important;">
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/solar (1).svg"
                    *ngIf='order.device_type_name == "Solar"'></ion-icon>
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/generator (1).svg"
                    *ngIf='order.device_type_name =="Generator"'></ion-icon>
                  <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/ev (1).svg"
                    *ngIf='order.device_type_name =="Electric Vehicle"'>
                  </ion-icon>
                  <ion-label class="icon" style="margin-top:-0.2em;margin-left:0.5em;" >
                  {{order.deviceTypeName}}
                  </ion-label>
                </ion-col>
                <ion-col size="3" class="bottom-row">
                  <ion-label>
                  <ion-icon slot="start" src="assets/svg/calendar.svg"></ion-icon>
                  {{formatTime(order.transferStartTs,'d')}}
                  </ion-label>
                </ion-col>            
                <ion-col size="5" class="bottom-row">
                  <ion-label>
                    <ion-icon class="icon" src="assets/svg/timer.svg" slot="start"></ion-icon>
                  {{formatTime(order.transferStartTs,'t')}} - {{formatTime(order.transferEndTs,'t')}}
                  </ion-label>
                </ion-col>
              </ion-row> -->
        <ion-row style="border-top:0.5px rgba(156, 156, 156, 0.685) solid;text-align:center;"
          *ngIf="order.orderType == 'sell' && (order.isCancellable == 'Y' || order.isEditable == 'Y')">

          <ion-col size="6">
            <ion-button expand="full" fill="clear" *ngIf="order.isCancellable == 'Y'"
              style="font-family:MSemiBold !important;font-size:1.2em;font-weight:800;"
              (click)="cancelModal(order, 'SELL')">
              CANCEL
            </ion-button>
          </ion-col>
          <ion-col size="6" style="border-left:1px solid rgba(156, 156, 156, 0.685)">
            <ion-button expand="full" fill="clear" *ngIf="order.isEditable == 'Y'"
              style="font-family:MSemiBold !important;font-size:1.2em;font-weight:800;" (click)="editSellOrder(order)">
              EDIT
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row style="border-top:0.5px rgba(156, 156, 156, 0.685) solid;text-align:center;"
          *ngIf="order.orderType == 'buy' && order.isCancellable == 'Y'" (click)="cancelModal(order, 'BUY')">
          <ion-col size="12">
            <ion-button expand="full" fill="clear" *ngIf="order.isCancellable == 'Y'"
              style="font-family:MSemiBold !important;font-size:1.2em;font-weight:800; text-align: center;">
              CANCEL
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <!-- END PRODUCTION -->


    <ion-row hidden="true">
      <ion-card class="card-bottom green">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="prediction">
            <ion-icon style="zoom:2.7;" class="d-block m-auto" src="assets/svg/sell (1).svg"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-row style="margin-bottom:0.7em;">
              <ion-col>
                <span class="unit-number">
                  205 Units
                </span><br>
                <span class="unit-id">
                  ID #123
                </span>
              </ion-col>
              <ion-col size="4" class="card-price">
                ₹ <span style="font-size:1.3em;">456</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3" class="bottom-row" style="font-family:MMedium !important;">
                <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/ev (1).svg"> </ion-icon>
                <ion-label class="icon" style="margin-top:-0.2em;margin-left:0.5em;">
                  Solar
                </ion-label>
              </ion-col>
              <ion-col size="3" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/calendar.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  10 MAY
                </ion-label>
              </ion-col>
              <ion-col size="6" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/timer.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  04:15 PM - 04:30 PM
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-row>

    <ion-row hidden="true">
      <ion-card class="card-bottom orange">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="prediction">
            <ion-icon style="zoom:2.7;" class="d-block m-auto" src="assets/svg/sell (1).svg"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-row style="margin-bottom:0.7em;">
              <ion-col>
                <span class="unit-number">
                  205 Units
                </span><br>
                <span class="unit-id">
                  ID #123
                </span>
              </ion-col>
              <ion-col size="4" class="card-price">
                ₹ <span style="font-size:1.3em;">456</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3" class="bottom-row" style="font-family:MMedium !important;">
                <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/ev (1).svg"> </ion-icon>
                <ion-label class="icon" style="margin-top:-0.2em;margin-left:0.5em;">
                  Solar
                </ion-label>
              </ion-col>
              <ion-col size="3" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/calendar.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  10 MAY
                </ion-label>
              </ion-col>
              <ion-col size="6" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/timer.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  04:15 PM - 04:30 PM
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-card>
      <ion-card class="cart-note" hidden="true">
        <ion-row class="ion-align-items-center">
          <ion-col size="10" class="description">
            <b class="name">TSSPDCL</b> charge you fro 10 units of power
          </ion-col>
          <ion-col size="2" class="ion-text-right amount">
            ₹ 85.00
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>

    <ion-row hidden="true">
      <ion-card class="card-bottom red">
        <ion-row class="ion-align-items-center" [class.disabled]="true">
          <ion-col size="2" class="prediction">
            <ion-icon style="zoom:2.7;" class="d-block m-auto" src="assets/svg/sell (1).svg"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-row style="margin-bottom:0.7em;">
              <ion-col>
                <span class="unit-number">
                  205 Units
                </span><br>
                <span class="unit-id">
                  ID #123
                </span>
              </ion-col>
              <ion-col size="4" class="card-price">
                ₹ <span style="font-size:1.3em;">456</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3" class="bottom-row" style="font-family:MMedium !important;">
                <ion-icon style="zoom:1.3;" class="icon" src="assets/svg/ev (1).svg"> </ion-icon>
                <ion-label class="icon" style="margin-top:-0.2em;margin-left:0.5em;">
                  Solar
                </ion-label>
              </ion-col>
              <ion-col size="3" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/calendar.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  10 MAY
                </ion-label>
              </ion-col>
              <ion-col size="6" class="bottom-row">
                <ion-icon class="icon" src="assets/svg/timer.svg"></ion-icon>
                <ion-label class="icon" style="padding-left:0.5em;">
                  04:15 PM - 04:30 PM
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-row>
    <!-- END PRODUCTION -->

  </ion-grid>
</ion-content>
<ion-footer class="the-footer" *ngIf="displayOrderList?.length>0">
  <ion-grid class="ion-text-center" style="padding:0;">
    <ion-row>
      <ion-col class="bottom-footer" (click)="applyPeriodFilter()">
        <ion-icon class="icon" name="time"></ion-icon>
        PERIOD
      </ion-col>
      <ion-col class="bottom-footer" (click)="applyMonthFilter()">
        <ion-icon class="icon" name="calendar"></ion-icon>
        MONTH
      </ion-col>
      <ion-col class="bottom-footer" (click)="applyEnergyFilter()">
        <ion-icon class="icon" name="flash"></ion-icon>
        ENERGY
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- START EMPTY FOOTER -->
<ion-footer class="the-footer" *ngIf="displayOrderList?.length==0">
  <ion-grid class="ion-text-center" style="padding:0;opacity:0.5;">
    <ion-row>
      <ion-col class="bottom-footer" (click)="applyPeriodFilter()">
        <ion-icon class="icon" name="time"></ion-icon>
        PERIOD
      </ion-col>
      <ion-col class="bottom-footer" (click)="applyMonthFilter()">
        <ion-icon class="icon" name="calendar"></ion-icon>
        MONTH
      </ion-col>
      <ion-col class="bottom-footer" (click)="applyEnergyFilter()">
        <ion-icon class="icon" name="flash"></ion-icon>
        ENERGY
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<!-- END EMPTY FOOTER -->