ion-content {
  --background: #0048a8;
}

ion-item {
  font-family: MMedium !important;
}

.menu-button {
  color: white;
  text-align: left;
  margin-top: 1em;
}

.title-top {
  color: white;
  text-align: center;
  font-size: 1.4em;
  font-family: MSemiBold !important;
  margin-top: 1em;
}

.row-control {
  margin-top: -10px;
}

.box-top {
  height: 120px;
  width: 95%;
  background-color: rgba(3, 47, 141, 0.726);
  margin-left: auto;
  margin-right: auto;
  // padding-top:1%;
  margin-top: 1%;
  border-radius: 3px;
  color: white;

  .top-box-left {
    text-align: left;
  }
  .top-box-right {
    text-align: right;
  }

  .top-box-big-total {
    font-size: 3em;
    font-family: MSemiBold !important;
  }

  .top-box-total-balance {
    font-family: MMedium !important;
    font-size: 0.8em;
    margin-top: -0.8em;
  }

  .top-box-currency {
    vertical-align: middle;
    padding-top: 1em;
    font-size: 1.5em;
    text-align: right;
  }
}

.card-center {
  background-color: white;
  width: 97%;
  margin-left: auto;
  margin-right: auto;

  .card-unit-number {
    font-family: MMedium !important;
    color: black;
    font-size: 1.2em;
  }

  .card-id-number {
    font-family: MMedium !important;
    color: grey;
    font-size: 0.8em;
  }

  .card-bottom-line {
    font-family: MMedium !important;
    color: black;
    font-size: 0.7em;
    display: inline-block;
    vertical-align: middle;
    .icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .card-price {
    text-align: right;
    font-family: MSemiBold !important;
    color: black;
  }

  .prediction {
    vertical-align: middle;
    text-align: left;
    padding-top: 1.6em;
  }
}
.prediction {
  vertical-align: middle;
  text-align: left;
  padding-top: 1.6em;
}

.card-price {
  text-align: right;
  font-family: MSemiBold !important;
  color: black;
}

.card-bottom-top {
  z-index: 2;
  background-color: white;
  width: 97%;
  margin-left: auto;
  margin-right: auto;

  .card-unit-number {
    font-family: MMedium !important;
    color: black;
    font-size: 1.2em;
  }

  .card-id-number {
    font-family: MMedium !important;
    color: grey;
    font-size: 0.8em;
  }

  .card-bottom-line {
    font-family: MMedium !important;
    color: black;
    font-size: 0.7em;
    display: inline-block;
    vertical-align: middle;
    .icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .card-price {
    text-align: right;
    font-family: MSemiBold !important;
    color: black;
  }

  .prediction {
    vertical-align: middle;
    text-align: left;
    padding-top: 1.6em;
  }
}

.card-bottom-bottom {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  z-index: 1;
  background-color: white;
  width: 93%;
  height: 45px;
  font-size: 0.7em;
  color: black;
  font-family: MMedium !important;
  padding: 10px;
  .icon {
    display: inline-block;
    vertical-align: middle;
    zoom: 1.8;
  }
}

.bottom-footer {
  border: rgba(173, 216, 230, 0.3) 0.5px solid;
  padding: 1em;
  font-family: MSemiBold !important;
  .icon {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    // color:white;
  }
}
.icon {
  display: inline-block;
  vertical-align: middle;
  // zoom:1.2;
  //color:white;
}

.the-footer {
  background-color: #0048a8;
  color: white;
  padding: 0;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  // zoom:1.2;
  //color:white;
}

.the-footer {
  background-color: #0048a8;
  color: white;
  padding: 0;
}

.height-adjust {
  margin-top: -1.5em;
}

.bottom-row {
  font-family: MMedium !important;
  color: black;
  font-size: 0.7em;
}

.unit-id {
  font-family: MLight !important;
  color: black;
  font-size: 0.7em;
  text-align: left;
}

.card-bottom {
  --background: white;
  width: 99% !important;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  border-left: 8px solid white;
  z-index: 1;

  .height-adjust {
    margin-top: -1.5em;
  }

  .bottom-row {
    font-family: MMedium !important;
    color: black;
    font-size: 0.7em;
  }

  .unit-id {
    font-family: MLight !important;
    color: black;
    font-size: 0.7em;
    text-align: left;
  }

  .card-bottom {
    --background: white;
    width: 99% !important;
    margin-right: auto;
    margin-left: auto;

    .unit-number {
      font-family: MMedium !important;
      color: black;
      font-size: 1.2em;
    }
    .unit-id {
      font-family: MLight !important;
      color: black;
      font-size: 0.7em;
      text-align: right;
    }
    .bottom-row {
      font-family: MMedium !important;
      color: black;
      font-size: 0.6em;
    }
    .sell {
      color: rgb(150, 150, 150);
    }
    .hyphen {
      vertical-align: middle;
      align-content: center;
      text-align: center;
      align-items: center;
      align-self: center;
      font-size: 10px;
      font-weight: bold;
    }
  }

  .title-text {
    font-family: MMedium !important;
    color: white;
    text-align: center;
  }

  .sub-text {
    font-family: MMedium !important;
    color: white;
    text-align: center;
    font-size: 0.6em;
  }
  .disabled {
    opacity: 0.5;
  }

  .green {
    border-color: yellowgreen;
  }

  .orange {
    border-color: orange;
  }

  .red {
    border-color: red;
  }

  .cart-note {
    --background: white;
    color: black;
    font-family: MMedium !important;
    width: 100% !important;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .description {
      font-size: 0.6em;
      padding: 5px 0;

      .name {
        font-size: 1.3em;
      }
    }

    .amount {
      font-size: 0.8em;
      font-weight: bold;
      padding: 5px 0;
    }
  }
}
