<ion-header no-border class="header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title">
      DR Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon src="assets/svg/notifications.svg" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Search for events"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="total-earning rounded px-2 pb-2 d-flex justify-content-between">
          <div>
            <div class="d-flex align-items-center">₹ <span class="earning pl-2"> 1940.00</span></div>
            <div class="text-center description">Total Earnings (24 events)</div>
          </div>
          <div class="d-flex align-items-end">
            <ion-icon src="assets/svg/forecast-data.svg" style="font-size: 50px;color: white;"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>




  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="p-0 pl-1 d-flex align-items-center title">
        Published DR Event Sets ({{eventSetsWithPublishedEvents?.length}})&nbsp;<ion-icon
          name="information-circle-outline"></ion-icon>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="eventSetsWithPublishedEvents?.length==0">
      <ion-col size="12">
        <div class="empty-event-list rounded">
          <div class="text-center p-3">
            <ion-icon src="assets/svg/forecast-data.svg" style="font-size: 50px;color: white;"></ion-icon>
          </div>
          <div class="label">No Published Demand Responce Events</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="event-list-item mt-1" *ngFor="let eventset of eventSetsWithPublishedEvents">
      <ion-col size="12" class="p-0 pt-2">
        <div class="event-name">{{eventset?.eventSetName}}</div>
        <!-- <div class="event-name">{{formatTime(eventset?.createdTs)}}</div> -->
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{eventset?.events.length}} Dr Events
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/energy.svg"></ion-icon>&nbsp;{{findMaxAndMinPower(eventset)}}
          </div>
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/rupee.svg"></ion-icon>&nbsp;{{findMaxAndMinPrice(eventset)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="text-center view-event" (click)="showEventSetDetails(eventset,'published')">
        View Events
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Scheduled DR Event Sets ({{eventSetsWithScheduledEvents?.length}})&nbsp;<ion-icon
          name="information-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let eventset of eventSetsWithScheduledEvents">
      <ion-col size="12" class="p-0 pt-2">
        <div class="event-name">{{eventset?.eventSetName}}</div>
        <!-- <div class="event-name">{{formatTime(eventset?.createdTs)}}</div> -->
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{eventset?.events.length}} Dr Events
          </div>
          <div class="d-flex align-items-center">
            Scheduled: {{countScheduled(eventset)}}
          </div>
          <div class="d-flex align-items-center">
            Counter Bid: {{countCounterBids(eventset)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="text-center view-event" (click)="showEventSetDetails(eventset,'scheduled')">
        View Events
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- completed -->
  <ion-grid *ngIf="completedEvents?.length > 0">
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Completed DR Event Sets ({{eventSetsWithScheduledEvents?.length}})&nbsp;<ion-icon
          name="information-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let event of completedEvents">
      <ion-col size="12" class="p-0 pt-2 d-flex align-items-center justify-content-between">
        <div>
          <div class="event-name">{{event?.eventName}}</div>
          <div class="event-date">{{formatTime(event?.eventStartTime)}}</div>
        </div>
        <div class="status-chip successful">SUCCESSFUL</div>
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{event?.commitedPower}} Dr Events
          </div>
          <div class="d-flex align-items-center">
            Scheduled: {{countScheduled(eventset)}}
          </div>
          <div class="d-flex align-items-center">
            Counter Bid: {{countCounterBids(eventset)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="d-flex align-items-center justify-content-center">
        <div>50kW</div>
        <div class="ml-2 pl-2 border-left">₹ 135.00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Cancelled DR Event Sets ({{eventSetsWithScheduledEvents?.length}})&nbsp;<ion-icon
          name="information-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let eventset of eventSetsWithScheduledEvents">
      <ion-col size="12" class="p-0 pt-2 d-flex align-items-center justify-content-between">
        <div>
          <div class="event-name">{{eventset?.eventSetName}}</div>
          <div class="event-date">{{formatTime(eventset?.createdTs)}}</div>
        </div>
        <div class="status-chip cancelled">CANCELLED</div>
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{eventset?.events.length}} Dr Events
          </div>
          <div class="d-flex align-items-center">
            Scheduled: {{countScheduled(eventset)}}
          </div>
          <div class="d-flex align-items-center">
            Counter Bid: {{countCounterBids(eventset)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="d-flex align-items-center justify-content-center">
        <div>50kW</div>
        <div class="ml-2 pl-2 border-left">₹ 135.00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="p-0 pl-1 d-flex align-items-center title">
        Penalty DR Event Sets ({{eventSetsWithScheduledEvents?.length}})&nbsp;<ion-icon
          name="information-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="event-list-item mt-1" *ngFor="let eventset of eventSetsWithScheduledEvents">
      <ion-col size="12" class="p-0 pt-2 d-flex align-items-center justify-content-between">
        <div>
          <div class="event-name">{{eventset?.eventSetName}}</div>
          <div class="event-date">{{formatTime(eventset?.createdTs)}}</div>
        </div>
        <div class="status-chip penalty">PENALTY</div>
      </ion-col>
      <ion-col class="px-0 py-2 border-bottom">
        <div class="d-flex justify-content-between event-detail">
          <div class="d-flex align-items-center">
            <ion-icon src="assets/svg/timer.svg"></ion-icon>&nbsp;{{eventset?.events.length}} Dr Events
          </div>
          <div class="d-flex align-items-center">
            Scheduled: {{countScheduled(eventset)}}
          </div>
          <div class="d-flex align-items-center">
            Counter Bid: {{countCounterBids(eventset)}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="d-flex align-items-center justify-content-center">
        <div>50kW</div>
        <del class="ml-2 pl-2 border-left text-secondary">₹ 135.00</del>
        <div class="ml-2 pl-2 border-left">₹ 135.00</div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- <ion-grid>
    <ion-row class="pb-1">
      <ion-col size="9" class="p-0 pl-1 d-flex align-items-center title">
        Event History Overview
      </ion-col>

    </ion-row>
    <ion-row class="event-history">
      <ion-col size="4" class="p-0">
        <div class="history-card bg-white rounded mr-1 p-2">
          <div class="icon green">
            <ion-icon mode="ios" name="checkmark-circle"></ion-icon>
          </div>
          <div class="count">05</div>
          <div class="label">Successful DR Events</div>
        </div>
      </ion-col>

      <ion-col size="4" class="p-0">
        <div class="history-card bg-white rounded p-2">
          <div class="icon red">
            <ion-icon mode="ios" name="close-circle"></ion-icon>
          </div>
          <div class="count text-secondary">05</div>
          <div class="label">Cancelled DR Events</div>
        </div>
      </ion-col>

      <ion-col size="4" class="p-0">
        <div class="history-card bg-white rounded ml-1 p-2">
          <div class="icon orange">
            <ion-icon mode="ios" name="alert"></ion-icon>
          </div>
          <div class="count">05</div>
          <div class="label">Penalty DR Events</div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid> -->
</ion-content>
<ion-footer class="the-footer">
  <ion-grid class="ion-text-center" style="padding:0;opacity:0.5;">
    <ion-row>
      <ion-col class="bottom-footer" (click)="applyPeriodFilter()">
        <ion-icon class="icon" name="time"></ion-icon>
        EVENTS
      </ion-col>
      <ion-col class="bottom-footer" (click)="applyEnergyFilter()">
        <ion-icon class="icon" name="calendar"></ion-icon>
        PERIOD
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>