<ion-content>
    <ion-grid>
        <ion-row style="text-align:center;padding-top:2em;">
          <ion-col>
            <ion-icon style="zoom:2.5" src="assets/svg/invalid.svg" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="first-line">
            Invalid Input
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="second-line">
            Please make sure you have entered the right input type.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:center;padding-top:1em;">
            <ion-button shape="round" color="primary" style="font-family:MMedium !important;">
              TRY AGAIN
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
