.first-line{
    font-size:1em;
    color:red;
    font-family:MMedium !important;
    text-align:center;
}

.second-line{
    font-size:0.8em;
    color:grey;
    font-family:MMedium !important;
    text-align:center;
    padding-left:1em;
    padding-right:1em;
}